body {
    background-color: #9f9595;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    background-color: rgb(29, 28, 28);
    max-width: 400px;
    border-radius: 40px;
    margin: 0 auto;
    padding: 60px;
    border: none;
    overflow: hidden;
}

.display {
    width: 100%;
    height: 70px;
    background-color: rgb(0, 0, 0); 
    color: white; 
    font-size: 2em;
    text-align: right;
    padding: 10px;
    border: none;
}

button {
    width: 80px;
    height: 80px;
    background-color: rgb(88, 88, 88);
    color: white;
    border: none;
    border-radius: 25px;
    margin: 3px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    width: 300px;
    margin: 0 auto;
    margin-top: 20px;
    margin-left: -10px;
}

.operatorbtn {
    background-color: gold;
}

button:hover {
    background-color: rgb(0, 0, 0);
}

button.operatorbtn:hover {
    background-color: rgb(255, 255, 255);
}
